nav {
    position: fixed !important;
    width: 100%;
    top: 0;
    padding-left: 30px;
    padding-right: 30px;
    background: linear-gradient(#ff00ea, #f59ced);
    z-index: 200;
}

.nav-item {
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
}

.nav-item:hover {
    background-color: #c500b5;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

@media screen and (min-width: 576px) {
    .nav-item  {
        padding: 8px 12px;
        margin-top: 0px;
        margin-left: 20px;
    }
}
